:root {
  --main-color: #03132b;
  --red-color: #d43939;
  --yellow-color: #fff200;
  --orange-color: #ff8a00;
  --green-color: #8dc63f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-color) !important;
  color: #fff !important;
  overflow-x: hidden;
  font-family: "Abel", sans-serif !important;
  font-size: 16px !important;
  font-weight: normal;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  display: flex;
}

.container {
  max-width: 1170px !important;
}
