.nav {
  z-index: 10;
  height: auto;
}
.nav ul {
  font-size: 14px;
  padding: 0;
}
.nav li a {
  text-align: start !important;
}
a {
  color: #fff;
}
.onScroll {
  background-color: var(--main-color);
}
.nav .logo {
  width: 20%;
}
.logo img {
  max-width: 90%;
}
.basic-link:hover,
.basic-link.active {
  color: var(--red-color) !important;
}
.drop-menu {
  background-color: var(--main-color) !important;
}
.drop-menu li:hover {
  background-color: var(--red-color) !important;
}
button:hover {
  border-color: var(--red-color) !important;
}
button:hover .nav-icon {
  background-color: var(--red-color);
}
.nav-icon {
  display: block;
  height: 2px;
  width: 30px;
  background-color: #fff;
  margin: 5px auto;
}
button,
.nav-icon {
  transition: 0.5s all;
}
.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}
.nested-menu-lvl2 {
  position: absolute;
  top: -1px;
  left: 99.7%;
  background-color: var(--main-color);
}
.drop-menu li:not(:last-of-type),
.nested-menu-lvl2 li:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.nested-menu-lvl2 li:hover,
.nested-menu-lvl2 a:hover {
  cursor: pointer;
  transition: 0.3s all;
}
.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}
.nested-menu-lvl1,
.nested-menu-lvl2 {
  font-size: 13px !important;
}

/* rotate caret on hover */
.nested-menu-lvl1 > li {
  position: relative;
  width: 220px;
}
.dropdown-menu > li > a:after {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
}
a {
  color: #fff !important;
  text-align: start !important;
}
@media (max-width: 991px) {
  .navbar-collapse {
    background-color: var(--main-color) !important;
  }
  .nav .logo {
    width: 50%;
  }
}
@media (max-width: 1299px) {
  .navbar-collapse {
    justify-content: center !important;
  }
}
@media (min-width: 1300px) {
  .navbar-collapse {
    justify-content: flex-end !important;
  }
}
